html,
body {
    height: 100%;
}
.boy{
    display: block;
    width:800px;
    border-bottom-style: dotted;
    text-align:center;

}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 100px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar-police {
    //background-color: #3E3F3A;
    min-height: 100px;
    border-color: #1F0D5F;
    background:#1F0D5F ;/*#f5f5f5  76167c 9C27B0*/
    border-bottom:1px solid #DEBED6;
}

navbar2 {
    position: relative;
    min-height: 100px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.navbar-police .navbar-brand {
    color: #fff;
}
.navbar-police .navbar-brand:hover,
.navbar-police .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-police .navbar-text {
    color: #9d9d9d;
    font-weight: bold;
}
.navbar-police .navbar-nav > li > a {
    color: #DDA22C;
}
.navbar-police .navbar-nav > li > a:hover,
.navbar-police .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-police .navbar-nav > .active > a,
.navbar-police .navbar-nav > .active > a:hover,
.navbar-police .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #160A4C;
}
.navbar-police .navbar-nav > .disabled > a,
.navbar-police .navbar-nav > .disabled > a:hover,
.navbar-police .navbar-nav > .disabled > a:focus {
    color: #444;
    background-color: transparent;
}
.navbar-police .navbar-toggle {
    border-color: #333;
}
.navbar-police .navbar-toggle:hover,
.navbar-police .navbar-toggle:focus {
    background-color: #333;
}
.navbar-police .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-police .navbar-collapse,
.navbar-police .navbar-form {
    border-color: #101010;
}
.dltfooter{
    color: #fff;
    height: 60px;
    background-color: #380944;
    border-top: 1px solid #DDD;
    padding-top: 20px;
}
.dltfooter a{
    color: A6AAAD;
    text-decoration: none;
}

.carousel, .item, .active {
    height:100%;
}
.carousel-inner {
    height:100%;
}
.carousel {
    margin-bottom: 60px;
}
.carousel-caption {
    z-index: 10;
}
.carousel .item {
    background-color: #777;
}
.carousel .carousel-inner .bg {
    background-repeat:no-repeat;
    background-size:cover;
}
.bgm{
    display: block;
    width: 100%;
    background-color:#DEBED6;
}

.dltbreadcrumb {
    padding: 8px 15px;
    margin-top: 40px;
    list-style: none;
    background-color: #E7D0F3;
    border-radius: 4px;
}

.btn-dlt {
    color: #fff;
    background-color: #5E42A2;
    border-color: #7545C1;
}
.login-form {
    max-width: 350px;
    margin: 80px auto;
    font: 16px/1.6em ;
}
/* panel */
.panel-dlt {
    border-color: #C39AE2;
}
.panel-dlt > .panel-heading {
    color: #FFFEFE;
    background-color: #7D479E;
    border-color: #8023C7;
}
.panel-dlt > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #d6e9c6;
}
.panel-dlt > .panel-heading .badge {
    color: #dff0d8;
    background-color: #3c763d;
}
.panel-dlt > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #d6e9c6;
}
#dot-input
{
    border:0;
    border-bottom: 1px dotted;
    padding:1px;
    text-align:center;
}
.dot-input2{
    height: 30px;
    width: auto;
    //padding: 6px 6px;
    font-size: 16px;
    line-height: 1.42857;
    color:#5E42A2;
    background-color: #FFF;
    background-image: none;
    border:0;
    border-bottom: 1px dotted;
    padding:1px;
    text-align:center;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.dot-view-tab{
    font-size: 16px;padding-left: 3em;padding-right: 10px
}
.dot-view{
    font-size: 16px;padding-left: 1em;padding-right: 10px
}

.divbox-dlt {
    border-radius: 2 px;
    border: 1px solid #9A9C9E;
    padding: 10px;
    width: auto ;
    height: autopx;
}
.contentbox{
    font-size: 18px;
}

/*******THSarabunNew**********/
@font-face {
    font-family: 'THSarabunNew';
    src: url('thsarabunnew-webfont.eot');
    src: url('thsarabunnew-webfont.eot?#iefix') format('embedded-opentype'),
        url('thsarabunnew-webfont.woff') format('woff'),
        url('thsarabunnew-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'THSarabunNew';
    src: url('thsarabunnew-webfont.eot');
    src: url('thsarabunnew-webfont.eot?#iefix') format('embedded-opentype'),
        url('thsarabunnew-webfont.woff') format('woff'),
        url('thsarabunnew-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'THSarabunNew';
    src: url('thsarabunnew-webfont.eot');
    src: url('thsarabunnew-webfont.eot?#iefix') format('embedded-opentype'),
        url('thsarabunnew-webfont.woff') format('woff'),
        url('thsarabunnew-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'THSarabunNew';
    src: url('thsarabunnew-webfont.eot');
    src: url('thsarabunnew-webfont.eot?#iefix') format('embedded-opentype'),
        url('thsarabunnew-webfont.woff') format('woff'),
        url('thsarabunnew-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
.THSarabunNew {font-family:"THSarabunNew", tahoma,ms sans serif;}
